/* @override http://www.babyongrand.com/sites/all/modules/ubercart/contrib/uc_wishlist/uc_wishlist_search.css */

/* $Id$ */

#content {
  background: url(http://babyongrand.com/sites/all/themes/zenzen/images/registry_bg_alt.jpg) no-repeat top left;
	border: 2px solid #7d6881;
	margin: 0px 20px 10px 20px;
	padding: 130px 10px 10px;
	height: 300px;
}

#content div.wishlist{
	display: block;
	position: relative;
	text-align: center;
}

#content div.wishlist a {
	color: #eee;
	line-height: 18px;
}

#content ul.wishlist{
	display: block;
	height: 100px;
	left: 73px;
	overflow: auto;
	width: 250px;
	text-align: center;
	position: relative;
}

#content ul.links.wishlist li a {
	color: #eee;
	line-height: 18px;
}

#content ul.wishlist li{
	display: block;
	border-left: 1px solid grey;
	padding-left: 15px;
	}

#uc-wishlist-search-form {
/*	width: 355px; */
	text-align: center;
	margin-top: 5px;
}

#uc-wishlist-search-form div div.form-item label {
	padding-top: 40px;
  background: url(http://babyongrand.com/sites/all/themes/zenzen/images/registry_name.png) no-repeat top center;	
	text-indent: -3000px;
}

#block-block-12 {
	float: left;
	height: 417px;
	width: 438px;
  background: url(http://babyongrand.com/sites/all/themes/zenzen/images/registry_baby.jpg) no-repeat top left;
	margin: 10px 0px 0px 30px;
}

#block-block-12 .content {
	color: #7d6881;	
}

#block-block-12 div.blockinner {
	text-align: center;
	margin-top: 285px;
}

#block-block-12 span {
	font-size: 120%;
}